.navbar{
  background-color: #67191f;
  color: white;
  height: 5rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  position: sticky;
  position-try: 3;
  width: 100%;
  z-index: 1000;
}

.navbar .nav-link {
  color: #F1E6D2; 
  transition: color 0.3s; 
  background-color: #67191f;
}

.navbar .nav-link:hover {
  color: #fff; 
  
}

.navbar .navbar-brand {
  color: #F1E6D2;
  font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.navbar-toggler {
  color: #F1E6D2;
  border-radius: none;
  z-index: 1050;
}

body{
  height: 100%;
}

.bg-image{
  min-height: 450px;
  background-image: url(asset/img/background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

a{
  color: #eedbbf;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

a:hover{
  color: #ab3130;
}

.brand{
  color:#eedbbf;
  font-size: 28px;
}

footer{
  background-color: #67191f;
  color: #F1E6D2;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-weight: bold;
  height: max-content;
  align-items: center;
  justify-content: center;
}

footer h3{
  padding-top: 5px;
  font-weight: bold;
  text-align: center;
}

footer .social-icons{
  justify-content: center;
  align-items: center;

}


#home{
  text-align: center;
  color: #ced4da;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#content {
  font-weight: bold;
  padding-top: 30px;
  background-color: #F1E6D2;
  color: #ab3130 ;
  height: max-width;
  width: max-width;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
#content .row{
  background-color: #F1E6D2; 
  padding-bottom: 2%; 
  width: 100%; 
  justify-content: center;
}

#content .col{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}

#content .card{
  color: #ab3130;
  width: 60%;
  height: auto;
  border-radius: 5px;
}

#content h1{
  text-align: center;
  font-weight: bold;
}

#content h5{
  font-weight: bold;
  margin-bottom: 3%;
  text-align: center;
}

#portfolio{
  background-color: #F1E6D2;
  color: #ab3130;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
#portfolio .row{
  
}

#portfolio .col{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#portfolio .card{
  width: 80%;
  height: 100;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
  
}
#portfolio .card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}



#services{
  background-color: #F1E6D2;
  color: #ab3130;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  
}

#services .card {
  color: #ab3130;
  align-items: center;
  max-width: 350px;
  height: 340px;
}

#services .card .card-img{
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%px;
  height: auto;
}

#services .card-text {
  overflow-wrap: break-word;
}

#careers{
  background-color: #F1E6D2;
  width: max-width;
  color:#ab3130;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding-bottom: 3%;
}

#careers .img{
  width: 18rem;
  height: 12rem;
  border-radius: 8px;
  
}

#careers .card{
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ab3130;
  height: 18rem;
  width: 18rem;
  margin: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#careers h1{
  padding-top: 2%;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#careers .row{
  justify-content: center;
  align-items: center;
}

#insight {
  background-color: #F1E6D2;
  width: max-width;
  color: #ab3130;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

#insight .card{
  margin: 2%;
  height: 20rem; 
  width: 100;
  align-items: center;
}

#insight .container h1{
  font-weight: bold; 
  padding-top: 2%;
}

#insight .row{
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  width: 100%;
}

#insight h6{
  font-weight: bold;
}

#insight .img{
  height: auto;
  width: 100%;
  justify-content: center;
}
#insight .card-body{
  align-items: center;
  width: 100%;
  height: 13rem;
  color: #ab3130;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
#insight .card-text{
  width: fit-content;
}

#question{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #F1E6D2; 
  color: #ab3130;
}
#contact{
  background-color: #F1E6D2;
  color: #ab3130 ;
  width: max-width;
  height: max-height;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  align-items: center;
  padding: 3%;
  justify-content:center;
}

#contact .row{
  justify-content: center;
  align-items: center;
  width: 100%;
}

#contact h1{
  font-weight: bold;
  padding-bottom: 2%;
  width: 100%;
  text-align: center;
}



#visimisi{
  padding-top: 30px;
  background-color: #F1E6D2;
  color: #ab3130 ;
  width: max-width;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#testimonials{
  background-color: #F1E6D2;
  color: #ab3130 ;
  width: max-width;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.container{
  text-align: center;
  
}

.icon-box{
  width: 64px;
  height: 64px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bg-image #sambutan h1{
  color: #F1E6D2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding-top: 180px;
}

@media (max-width: 450px) {
  body {
      font-size: 62.5%;
      height: 100%;
  }
  
}

@media (max-width: 768px) {
  html,body {
    font-size: 62.5%;
    height: 100%;
  }
  
  #services h1 {
      font-size: 1.8rem;
  }

  .card img {
      height: 150px;
  }

  .card-text {
      font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  html,body {
    font-size: 62.5%;
    height: 100%;
  }
  .card img {
      height: 120px;
  }

  .card-text {
      font-size: 0.85rem;
  }
}
