.navbar{
  background-color: #67191f;
  color: white;
  height: 5rem;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  position: sticky;
  position-try: 3;
  width: 100%;
  z-index: 1000;
}

.navbar .nav-link {
  color: #F1E6D2; 
  transition: color 0.3s; 
  background-color: #67191f;
}

.navbar .nav-link:hover {
  color: #fff; 
}

.navbar .navbar-brand {
  color: #F1E6D2;
  font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.navbar-toggler {
  color: #F1E6D2;
  border-radius: none;
  z-index: 1050;
}

h1{
  font-weight: bold;
  text-align: center;
}

.bg-image{
  min-height:550px;
  background-image: url(asset/img/background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bg-image #sambutan h1{
  text-align: center;
  color: #F1E6D2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: inline-block;
  padding-top: 180px;
}

a{
  color: #eedbbf;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

a:hover{
  color: #ab3130;
}

.brand{
  color:#eedbbf;
  font-size: 28px;
}

/* footer */
footer{
  background-color: #67191f;
  color: #F1E6D2;
  min-height: 8rem;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
}

footer h3{
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: bold;
}
#footer p{
  background-color: #67191f;
  height: max-content;
  padding-top: 50px;
}
footer .social-icons{
  width: 100%;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

#content {
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 3rem;
  background-color: #F1E6D2;
  color: #ab3130 ;
  height: max-width;
  width: max-width;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}
#content .row{
  background-color: #F1E6D2; 
  width: 100%; 
  justify-content: center;
  align-items: center;
}

#content .col{
  height: 25rem;
  width: 25%;
  justify-content: center;
}

#content .card{
  height: 95%;
  color: #ab3130;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#content .card h5{
  padding-top: 4px;
  padding-bottom: 4px;
}
#content .card p{
  padding-top: 4px;
  font-weight: medium;
}
#content h1{
  font-weight: bold;
  padding-bottom: 1rem;
}

#content h5{
  font-weight: bold;
  text-align: center;
}

@media (min-width: 344px) and (max-width: 820px){
  #content .row{
    background-color: #F1E6D2; 
    width: 100%; 
    justify-content: center;
    align-items: center;
  }
  
  #content .col{
    width: 80%;
    height: max-content;
    justify-content: center;
    padding: 2%;
  }
  
  #content .card{

    color: #ab3130;
    width: 100%;
    border-radius: 5px;
  }
}

/*PORTFOLIO*/
#portfolio{
  background-color: #F1E6D2;
  color: #ab3130;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-bottom: 3rem;
}

#portfolio h1{
  padding-bottom: 5px;
}

#portfolio .col{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ab3130;
}

#portfolio .card{
  width: 90%;
  height: 100;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
  color: #ab3130;
}
#portfolio .card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

@media (max-width: 430px) {
  #portfolio .col{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
      }
  #portfolio .card {
      width: 80%;
      height: auto;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
} 
#portfolio .card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
}


/* services */
#services{
  background-color: #F1E6D2;
  color: #ab3130;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-bottom: 3rem;
}
#services h1{
  padding-bottom: 1rem;
}
#services .card {
  color: #ab3130;
  align-items: center;
  max-width: 350px;
  height: 340px;
}

#services .card img {
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

@media (min-width: 344px) and (max-width: 760px) {
  #services .container{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  #services .row{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  #services .card{
    width: 80%;
  }
  #services .card img {
      height: 125px;
  }
}

/* Testimonials */
#testimonials{
  background-color: #F1E6D2;
  color: #ab3130 ;
  width: max-width;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  padding-bottom: 4rem;
}

#testimonials .row{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
#testimonials .col{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#testimonials .card {
  width: 10rem;
  height: 23rem;
  overflow: hidden;
  text-overflow: ellipsis;
border: none;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
border-radius: 8px;
color: #ab3130;
}


#testimonials .card img {
  padding-top: 30px;
  padding-bottom: 5px;
align-items: center;
width: 80%;
height: auto;
object-fit: cover;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}

@media (min-width: 344px) and (max-width: 760px) {
  #testimonials .container{
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  #testimonials .row{
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  #testimonials .col{
  width: 100%;
  justify-content: center;
  align-items: center;
  }
  #testimonials .card {
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
  height: 100%;
  align-items: center;
  }

#testimonials .card-img {
  display: flex;
  align-items: center;
  justify-content: center;
width: 40%;
} 
}

@media (min-width: 768px) and (max-width: 1280px){
  #testimonials .card {
border: none;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
border-radius: 8px;
width: 100%;
height: 30rem;
align-items: center;
justify-content: center;
}
#testimonials .card img {
  display: flex;
  align-items: center;
  margin-top: 3px;
width: 60%;
height: auto;
object-fit: cover;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}
#testimonials .card-body {
  text-align: center;
  padding-top: 25px;
}
}


#careers{
  background-color: #F1E6D2;
  width: max-width;
  color:#ab3130;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-bottom: 3rem;
}
#careers h1{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#careers .img{
  width: 100%;
  height: 12rem;
  padding-top: 10px;
  border-radius: 10px;
}

#careers .card{
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ab3130;
  height: 18rem;
  width: 20rem;
  margin-top: 2px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#careers .row{
  padding-top: 4px;
  justify-content: center;
  align-items: center;
}


@media (min-width: 344px) and (max-width: 700px) {
  #careers .img{
    width: 100%;
    padding-top: 10px;
    border-radius: 10px;
  }
  #careers .row{
    align-items: center;
    justify-content: center;
  }
  #careers .col{
    align-items: center;
    justify-content: center;
  }
  #careers .card{
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ab3130;
    width: 25rem;
    margin-top: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } 
  }

#insight {
  background-color: #F1E6D2;
  width: max-width;
  color: #ab3130;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  padding-bottom: 3rem;
}

#insight h1{
  font-weight: bold; 
  padding-bottom: 1rem;
}

#insight .container{
  display: flex;
  justify-content: center;
  align-items: center;
  }

#insight .row{
  justify-content: center;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
}
#insight .card{
    width: 100%;
    align-items: center;
    height: 95%;
  }

#insight .card-body{
  align-items: center;
  width: 100%;
  height: 13rem;
  color: #ab3130;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#insight h5{
  font-weight: bold;
}

#insight .img{
  height: auto;
  width: 30%;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ab3130;
}

#insight .card-text{
  width: fit-content;
}

@media (min-width: 344px) and (max-width: 760px) {
  #insight .col{
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }

  #insight .card{
    width: 25rem;
    height: 20rem;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
  }
  #insight .img{
    height: auto;
    width: 30%;
    justify-content: center;
    padding-top: 10px;
  }

  #insight .card-text{
    width: 100%;
  }

}

#question{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F1E6D2; 
  color: #ab3130;
  padding-bottom: 3rem;
  justify-content: center;
  align-items: center;
}
#question .container{
  align-items: center;
  max-width: 600px;
}
#question .row{
  width: 100%;
  align-items: center;
}
#question .col{
  width: 80%;
}
#question h1{
  font-weight: bold;
  padding-bottom: 1rem;
}
#question h5{
  font-weight: medium;
  text-align: left;
}

@media (min-width: 344px)and(max-width: 768px) {
  #question{
    justify-content: center;
    align-items: center;
  }
  #question .row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #question .col{
    width: 100%;
    align-items: center;
  }

}

#contact{
  background-color: #F1E6D2;
  color: #ab3130 ;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  justify-content:center;
}

#contact p{
  text-align: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: #ab3130;
}

@media (min-width: 344px) and (max-width: 760px) {
  #contact{
    justify-content: center;
    align-items: center;
  }
  #contact .row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contact h1{
    font-weight: bold;
  }
#contact .container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact .list-group{
  width: 80%;
  justify-content: center;
  margin-bottom: 3rem;
}
#contact p{
  text-align: center;
  font-size:medium;
}
}

@media (min-width: 768px) {
body {
font-size: 62.5%;
height: 100%;
}
#contact .container{
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .list-group{
  width: 100%;
  margin-bottom: 3rem;
}
#contact p{
  text-align: center;
  font-size: large;
}
#contact h1{
  font-weight: bold;
  padding-bottom: 2%;
  width: 100%;
  text-align: center;
}

}

#contact .row{
  justify-content: center;
  align-items: center;
  width: 100%;
}

.icon-box{
  width: 64px;
  height: 64px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#sambutan{
  align-items: center;
  text-align: center;
}

@media (min-width:641px)  {

}
